{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["@typescript-eslint"],
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "es6": true
  },
  "rules": {
    "@typescript-eslint/interface-name-prefix": [
      "error",
      { "prefixWithI": "always" }
    ],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "comma-dangle": ["error", "never"],
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "no-useless-constructor": "off",
    "max-len": ["error", { "code": 120 }],
    "import/prefer-default-export": "off",
    "no-case-declarations": "off",
    "no-await-in-loop": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never"
      }
    ],
    "object-curly-newline": "off",
    "arrow-parens": ["error", "as-needed"],
    "quotes": [2, "single", "avoid-escape"]
  },
  "ignorePatterns": ["node_modules/", "data/migrations"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
